body

    {
        background: #1e1f24;
        color: black;
        text-align: center;
        font-family:"Times New Roman";
        font-size: 16px;
        margin: 0;
        padding: 0;
    }   
#Cabecera
{
    background: rgb(4, 4, 131);
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: whitesmoke;
    font-weight: bold;
    margin: 0%;
    padding: 0.5em;
}
#Cabecera #Logo
{
    width: 70px;
    vertical-align: middle;
}
#Cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 5px solid  rgb(38, 38, 73);
    margin: 0 auto;
}
#container h1
{
    font-size: 32px;
    text-align: center;
    color: chocolate;
}
#post
{
    background: white;
    padding: 1em;
}